.rotateCard {
  animation: rotate 8s linear infinite;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.rotateCard:after {
  content: '';
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 15px;
  border-radius: 15px;
  width: 260px;
  height: 400px;
  background: url("../../public/textures/paper.jpg");
  -webkit-transform: rotateY( 180deg );
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 16px 70px rgb(0 0 0 / 20%);
}


.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 15px;
  height: 80%;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(
    -90deg,
    #e3e5e8 0%,
    #ebe4e3 10%,
    #e4e1e0 25%,
    #e5cee9 45%,
    #e1b2db 60%,
    #e5a2d4 75%,
    #e282bb 85%,
    #e8398e 100%
  ); 
  --mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0) 100% 100% / 100% 100% repeat-x;

  -webkit-mask: var(--mask); 
  mask: var(--mask);
}


.gradient::before,
.gradient::after,
.gradient > .circles,
.gradient > .circles::before,
.gradient > .circles::after {
  filter: blur(75px);
}

.gradient::before,
.gradient::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.gradient::before {
  background: #ffecf5;
  top: -195px;
  left: -195px;
}

.gradient::after {
  background: #86e1ef;
  right: -195px;
  top: 50%;
  transform: translateY(-50%);
}

.gradient > .circles,
.gradient > .circles::before,
.gradient > .circles::after {
  border-radius: 100%;
  position: absolute;
}

.gradient > .circles::before,
.gradient > .circles::after {
  content: "";
  width: 140px;
  height: 140px;
  top: 50%;
  transform: translateY(-50%);
}

.gradient > .circles {
  width: 230px;
  height: 230px;
  background: #ffc285;
  bottom: -60px;
  left: 75px;
}

.gradient > .circles::before {
  background: #8600ff;
  left: -40%;
}

.gradient > .circles::after {
  background: #ff0000;
  right: -20%;
}
  
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }