* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scrollbar-width: none;
}

body {
  justify-content: center;
  align-items: center;
  background: #FF37BA;
  background-repeat: no-repeat;
  background: radial-gradient(at center top, #FF37BA, #F4FFB3);
  /* background: radial-gradient(at center, #FFFFFF, #fee0e0); */
  /* background:radial-gradient(at center, rgba(215, 90, 88, 1.0), rgba(62, 37, 170, 1.0)) */
}

/* @media screen and (max-width: 600px) {
  body {
    max-width: 150%;
    max-height: 150vh;
  }
  html {
    max-width: 150%;
    max-height: 150vh;

  }
} */

body::-webkit-scrollbar{
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
